<div class="table-responsive">
  <table class="table table-hover pointer-cursor">
    <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Note</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="clicked('112341')">
      <td>My Budget</td>
      <td>This is a long long text for testing purpose. I have no idea what am I writing here.</td>
      <td>17-Dec-2019</td>
    </tr>
    <tr>
      <td>Shopping</td>
      <td>This is a long long text for testing purpose.</td>
      <td>13-Dec-2019</td>
    </tr>
    <tr>
      <td>Meet with someone</td>
      <td>I have no idea what am I writing here.</td>
      <td>12-Dec-2019</td>
    </tr>
    </tbody>
  </table>
</div>
