<section class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Manage Category</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <ngb-tabset>
        <ngb-tab id="add-category" title="Add">
          <ng-template ngbTabContent>
            <app-category-add></app-category-add>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="edit-category" title="Edit">
          <ng-template ngbTabContent>
            <app-category-edit></app-category-edit>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
