<div class="col-lg-6 offset-lg-3">
  <h2 class="text-center form-group">{{noteId ? 'Edit Note' : 'Add Note'}}</h2>
  <div class="form-group">
    <label for="selectCategoryFormControl">Select Category</label>
    <select [(ngModel)]="selectedCategoryId" name="power" class="form-control" id="selectCategoryFormControl">
      <option *ngFor="let cat of categories"
              [value]="cat.id.toString()"
      >{{cat.title}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="titleFormControl">Enter Title</label>
    <input [(ngModel)]="title" class="form-control" type="text"
           placeholder="Title" id="titleFormControl">
  </div>
  <div class="form-group">
    <label for="noteFormControl">Enter Description</label>
    <textarea [(ngModel)]="description" class="form-control" id="noteFormControl" rows="3"></textarea>
  </div>
  <div class="text-right form-group">
    <button class="btn btn-secondary mr-2" type="button" (click)="onBack()">Back</button>
    <button *ngIf="noteId" class="btn btn-danger mr-2" (click)="onDelete()">Delete</button>
    <button class="btn btn-primary" (click)="onSave()">{{noteId ? 'Update' : 'Save'}}</button>
  </div>
</div>
